<!--{{helloWorld}}
<p>This website is under construction! As I find time between school and work the site will be periodally updated! Stay tuned! </p>-->
<h2><strong>Kusha Gharahi</strong></h2>
<p class="pre">
    Full Time - Full Stack Developer <br />
    Full Time Student Pursuing Computer Science Degree at UT Dallas <br />
    Dallas, TX
</p>

<p>I started programming in middle school coding Runescape private servers. 
    I enjoyed it so much I'm still coding today! 
    Unfortunately I don't work on Runescape private servers anymore, 
    but you can check out what I'm working on nowadays on the <a href="/#/projects">Projects</a> page.</p>
<br />
<hr>

<h2>About this website</h2>
Built with: 
<ul>
    <li>AngularJS 1 with DefinitelyTyped for TS type definitions for NG1</li>
    <li>TypeScript (Compiled down to JS pre-deploy)</li>
    <li>100% Self Written CSS; Written in Sass (No Frameworks used)</li>
</ul>

Goals for this website:
<ul>
    <li>Cross Browser Compatibility</li>
    <li>Mobile Fluidity</li>
    <li>Accurately showing my portfolio</li>
</ul>
<a target="_blank" rel="noopener" href="https://github.com/kushagharahi/kushagharahi.github.io">GitHub repo</a> | <a target="_blank" rel="noopener" href="https://trello.com/b/kTT3uS5b/kusha-me">Trello board/backlog</a>

<p>This website is under construction! As I find time between school and work the site will be periodally updated! Stay tuned! </p>