<h2><strong><a href="https://github.com/kushagharahi/YoutubeNotGif">[GitHub] YoutubeNotGif - Chrome Extention</a></strong></h2>
<p>Chrome extention that marks all youtube links as [YOUTUBE] in bold and hot pink on Reddit.</p>
<p>Tech used: <strong>JavaScript</strong></p>
<a href="https://chrome.google.com/webstore/detail/youtube-not-gif/aadpjpjgnjejmneflbdcckablmkjgken">Chrome Web Store Link</a>
<hr>
<h2><strong><a href="https://github.com/kushagharahi/YoutubeNotGif">[GitHub] kusha.me - My Portfolio Website</a></strong></h2>
<p>The website you are currently on.</p>
<p>Tech used: <strong>AngularJS 1</strong> | <strong>TypeScript</strong> | <strong>JavaScript</strong> | <strong>Html/CSS3</strong> |<strong>Bower/NPM</strong> | <strong>node.js (to compile TS to ES5)</strong></p>
<a href="kusha.me">kusha.me (recursive loop! don't press!)</a> <br />
<hr>
<h2><strong><a href="https://github.com/kushagharahi/ProjectManagement">[GitHub] A Project Management App </a></strong></h2>
<p>A project management application which allows you to create boards for projects, tasks within those boards, and move tasks to different stages of development. Made for my Human Computer Interactions as final project.</p>
<p>Tech used: <strong>ASP.Net MVC 5</strong> | <strong>SQL Server 2013</strong> | <strong>Razor/HTML/CSS</strong> | <strong>JavaScript</strong></p>
<a href="http://taskerhci.azurewebsites.net">Azure Link - Currently won't log in because I stopped paying for Azure. Will get sql server up and running soon.</a> <br />
<hr>