<div class="project" ng-repeat="project in projects">
    <div class="projectImg"></div>
    <h2><strong>{{project.title}}</strong></h2>
    <span ng-repeat="site in project.urls"> <a target="_blank" rel="noopener" href="{{site.url}}">{{site.desc}}</a><span ng-if="project.urls.length > 1 && $index != project.urls.length - 1"> | </span></span>
    <p>{{project.blurb}}</p>
    <p>Tech used: <strong ng-repeat-start="tech in project.techUsed">{{tech.name}}</strong><span ng-repeat-end ng-if="project.techUsed.length > 1 && $index != project.techUsed.length - 1"> | </span></p>
</div>