$primary-color: #494E6B;
$secondary-color: #985E6D;
$text-color: #555;
$nav-text-color: white; 
$font: 'Open Sans', sans-serif;
$pageMaxWidth: 850px;
$projectImgWidth: 210px;
$projectImgHeight: 105px;