@import '_vars.scss';

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~res/font/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('~res/font/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~res/font/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~res/font/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~res/font/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Open Sans', Fallback, sans-serif;
    margin: 0;
	font-family: $font;
	line-height: 1.5;
  color: $text-color;
  background: #192231
}

h2 {
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
}

a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.content {
	margin: 0 auto;
 	max-width: $pageMaxWidth;
	padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width : $mobileMaxWidth){
	.content {
		margin: 20px;
	}
}

.clearfix {
	clear:both;
}

.pre {
  border-left: 2px solid $secondary-color;
  padding-left: 3px;
  margin-left:5px;
}

.loading {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

.errorText {
	color: red;
}

.vaildText {
	color: $text-color;
}

.shadow {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2),0 3px 3px 0 rgba(0,0,0,.14),0 4px 3px -1px rgba(0,0,0,.12);
}

.hover {
  &:hover{
    background-color: #161e2c;
  }
}