$primary-color: #494E6B;
$secondary-color: #985E6D;
$text-color: #aaaaaa;
$nav-text-color: white; 
$font: 'Open Sans', sans-serif;
$pageMaxWidth: 900px;
$mobileMaxWidth: 900px;

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("~res/font/sf-ui-display-regular.otf");
  }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~res/font/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('~res/font/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~res/font/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~res/font/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~res/font/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
