@import '_vars.scss';

body {
	font-family: 'Open Sans', Fallback, sans-serif;
  margin: 0;
	font-family: $font;
	line-height: 1.5;
  color: $text-color;
  background: #192231
}

h2 {
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
}

a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.content {
	margin: 0 auto;
 	max-width: $pageMaxWidth;
	padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width : $mobileMaxWidth){
	.content {
		margin: 10px;
	}
}

.clearfix {
	clear:both;
}

.pre {
  border-left: 2px solid $secondary-color;
  padding-left: 3px;
  margin-left:5px;
}

.loading {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

.errorText {
	color: red;
}

.vaildText {
	color: $text-color;
}

.shadow {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2),0 3px 3px 0 rgba(0,0,0,.14),0 4px 3px -1px rgba(0,0,0,.12);
  background-color: #1A2332;
}

.hover {
  &:hover{
    background-color: #161e2c;
  }
}